.App {
	--header_height: 60px;
}

.hw {
	padding: 24px 0;
}

.hwTitle {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.2;
	padding: 0 70px;
	span {
		padding: 0 70px;
	}
}

.divider {
	display: block;
	height: 1px;
	width: 100%;
	background: #d9d9d9;
	margin-top: 10px;
}
